@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
*, *::before, *::after {
	font-family: "Roboto";
    box-sizing: border-box;
}

:root {
    --highlighted-input-color: #fffb94;
}

html, body {
    margin: 0;
    height: 100%;
}

body {
    background-image: url('wave_bg.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.drop-zone {
    width: 358px;
    height: 140px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    border: 4px dashed #eeeeee;
    color: #eeeeee;
    border-radius: 12px;
}

.app-version {
    color: #eeeeee;
    font-size: .75rem;
    position: absolute;
    top: 15px;
    right: 15px;
}

.footer {
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    bottom: 0;
    width: 100%;
    gap: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    height: 50px;
    margin-top: -50px;
    color: #eeeeee;
}

.footer p {
    margin: 0;
    padding: 0;
}

.github-logo {
    width: 24px;
    height: 24px;
}

.drop-zone__tooltip {
    font-size: 10px;
}

.drop-zone--over {
    border: solid var(--highlighted-input-color);
    background-color: rgba(255,255,255,.2);
    color: var(--highlighted-input-color);
}

.image-normal-filter {
    filter: invert(99%) sepia(4%) saturate(185%) hue-rotate(290deg) brightness(114%) contrast(87%);
}

.image-drag-filter {
    filter: invert(83%) sepia(97%) saturate(230%) hue-rotate(347deg) brightness(107%) contrast(104%);
}

.drop-zone__input {
    display: none;
}

.drop-zone__file-uploaded {
    width: 100%;
    height: 100%;
}

.drop-zone__file-uploaded::after {
    content: attr(data-label);
    text-align: center;
}

.upload-error {
    margin-top: 10px;
    font-size: 1rem;
    color: #CD0000;
}

.invisible {
    visibility: hidden;
}

.file-upload {
    max-height: 50px;
    max-width: 50px;
    margin-bottom: 10px;
}

.success-check {
    max-height: 50px;
    max-width: 50px;
    margin-bottom: 10px;
    filter: invert(99%) sepia(4%) saturate(185%) hue-rotate(290deg) brightness(114%) contrast(87%);
}

.filter-black {
    filter: invert(0%) sepia(0%) saturate(7500%) hue-rotate(327deg) brightness(96%) contrast(104%);
}

.sheet-name__container {
    margin-top: 30px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.form-label {
    color: #eeeeee;
    font-size: 0.75rem;
}

.form__field{
    outline: none;
    width: 100%;
    height: 2rem;
    font-size: 1.0625rem;
    border: none;
    border-bottom: 0.125rem solid #eeeeee;
    background: rgba(238,238,238,0.4);
    color: #eeeeee;
    padding-left: 8px;
    margin-bottom: 15px;
}

.form__field:hover {
    cursor: text;
}

.form__field:focus {
    background-color: rgba(255,255,255,0.2);
    border-radius: 2pt;
    box-shadow: 0 0 3pt 2pt var(--highlighted-input-color);
    color: var(--highlighted-input-color);
}

.form__field:focus::placeholder {
    color: transparent;
}

.submit-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.submit-btn {
    background: transparent;
    border: 2pt solid #eeeeee;
    border-radius: 10px;
    color: #eeeeee;
    font-size: 1.5rem;
    padding: 10px;
}

.submit-btn:hover {
    cursor: pointer;
    color: var(--highlighted-input-color);
    background-color: rgba(255,255,255,.2);
    border: 2pt solid var(--highlighted-input-color);
    box-shadow: 0 0 3pt 2pt var(--highlighted-input-color);
}

.loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upload-title {
    font-size: 4rem;
    color: #eeeeee;
}

.sheet-title {
    margin-top: 20px;
    font-size: 1.5rem;
    color: #eeeeee;
}

.progress-bar {
    position: relative;
    width: 500px;
    margin-top: 5px;
    height: 3em;
    background-color: transparent;
    border: 2pt solid #eeeeee;
    border-radius: 10px;
}

.progress-bar::before {
    content: '';
    display: flex;
    align-items: center;
    position: absolute;
    left: 0em;
    top: 0.05em;
    bottom: 0em;
    width: calc(var(--progress, 0) * 1%);
    max-width: 100%;
    background-color: #eeeeee;
    border-radius: 8px;
}

.loading-tooltip {
    margin-top: 30px;
    color: #eeeeee;
}

.done-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.success-check-lg {
    min-height: 100px;
    min-width: 100px;
    margin-bottom: 10px;
    filter: invert(99%) sepia(4%) saturate(185%) hue-rotate(290deg) brightness(114%) contrast(87%);
}

.done-text {
    font-size: 5rem;
    color: #eeeeee;
}